<!-- views/auth/sign-in.ejs -->
<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/_head.ejs") %>
  <body>
    <section class="page-section">
      <div class="page-content">
        <h1 class="auth">Sign in</h1>

        <section class="edit-boxes">
          <div class="auth-box">
            <form class="auth-sign-in" action="/auth/sign-in" method="POST">
              <label class="auth-input username" for="username"
                >Username:</label
              >
              <input
                class="auth-input username"
                type="text"
                name="username"
                id="username"
              />

              <label class="auth-input password" for="password"
                >Password:</label
              >
              <input
                class="auth-input password"
                type="password"
                name="password"
                id="password"
              />

              <button class="auth-btn auth-input" type="submit">Sign in</button>
            </form>
            <br />
            <p>
              Don't have an account? Click <a href="/auth/sign-up">here </a>to
              sign up!
            </p>
          </div>
        </section>
      </div>
    </section>
  </body>
  <%- include("../partials/_footer.ejs") %>
</html>
