<nav class="nav-bar">
  <a class="nav-home box" href="/">Home</a>
  <% if (user) { %>
  <a class="nav-books box" href="/users/<%= user._id %>/books">Bookshelf</a>
  <a class="nav-users box" href="/users">Community</a>
  <a class="nav-sign-out box" href="/auth/sign-out">Sign Out</a>
  <% } else { %>
  <a class="nav-sign-in box" href="/auth/sign-in">Sign In</a>
  <a class="nav-sign-out box" href="/auth/sign-up">Sign Up</a>
  <% } %>
</nav>
