<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <%- include("partials/_head.ejs") %>
  <body>
    <%- include('./partials/_navbar.ejs') %>
    <div class="hero">
      <div class="hero-text">
        <% if (user) { %>
        <h1>Welcome to the TBR Book Tracker, <%= user.username %>!</h1>
        <p>
          A place to track the books you've read, the ones you haven't and to
          find books you didn't know you needed to read!
        </p>
        <% } else { %>
        <h1>Welcome to the TBR Book Tracker, guest.</h1>
        <p>
          A place to track the books you've read, the ones you haven't and to
          find books you didn't know you needed to read!
        </p>
        <p>
          <a class="sign-up" href="/auth/sign-up">Sign up</a> or
          <a class="sign-in" href="/auth/sign-in">Sign In</a>
        </p>
        <% } %>
      </div>
      <div class="hero-img">
        <img src="/assets/bookstack.jpg" alt="hero-img" />
      </div>
    </div>
    <p>
      We'll make it easy to track your reading and connect with other readers to
      find your next TBR!
    </p>
  </body>
</html>
