@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
* {
  /* outline: 1px solid red; */
  box-sizing: border-box;
} 

html, body {
  overflow-x: hidden;
}

/* base styles */
  body {
   font-family: "Outfit", sans-serif;
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: 100vw;
   margin: 0;
   padding: 0;
 }

 a {
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

 h1 {
  font-family: "Playfair Display", serif;
   color: black;
   font-size: 3.6em;
 }

 footer {
   font-size: 0.7em;
   position:inherit;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
   padding: 10px;
 }

 /* nav styles */
nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  padding: 15px 40px 15px 20px;
  z-index: 10;
}

.box {
  padding: 10px;
  min-width: 80px;
  height: 30px;
  display: flex;               
  justify-content: center;    
  align-items: center; 
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.box:hover{
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
}

.nav-home {
  color: white;
  background-color: #0f30dd;
}

.nav-sign-in {
  color: white;
  background-color: #fd912e;
}

.nav-sign-out {
  color: white;
  background-color: #fd912e;
}

.nav-books {
  color: white;
  background-color: #f95285;
}

.nav-users {
  color: white;
  background-color: #f95285;
}

 /* hero style for homepage */
.hero {
  background-color: #1079d4;
  height: 475px;
  width: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: stretch;     
  box-sizing: border-box;
}

.hero-text {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 60px;
  min-width: 250px;
  margin-top: 15px;
}

.hero-img {
  flex: 1;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  justify-content: end;
}

.hero-text h1 {
  font-size: clamp(1.8em, 4vw, 3em);
  margin-bottom: 10px;
  color: #ffffff;
}

.hero-text p {
  font-size: clamp(1em, 2.5vw, 1.4em);
  line-height: 1.4;
  padding-right: 60px;
}

.hero-img img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.sign-up-btn {
  font-size: 1.4em;
  color: #ffffff;
  padding: 20px;
  background-color: black;
  min-width: 80px;
  height: 30px;
  display: flex;               
  justify-content: flex-start;    
  align-items: center; 
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.sign-up:hover{
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
}

.sign-in {
  color: #ffffff;
  font-size: 1.2em;
  line-height: 30px;
}

/* mission statement landing page */
.mission-section {
  width: 100%;
  max-height: 400px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 60px;
  box-sizing: border-box;
  overflow: hidden;
}

.mission-content {
  font-size: 1.6em;
  flex: 1;
  padding-right: 40px;
}

.mission-img {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.bookstack {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  display: block;
}

.sign-up-link {
  color: black;
  text-decoration: none;
}

.faq {
  background-color: #1079d4;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.faq-questions {
  max-width: 50%;
  max-height: 100%;
}

.faq-questions p {
  font-size: 1.1em;
}