@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
 /* base styles */
  body {
   background: #ececec;
   font-family: "Outfit", sans-serif;
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: 100vw;
   margin: 0;
   padding: 0;
 }

 a {
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

 h1 {
  font-family: "Playfair Display", serif;
   color: #1f2584;
   font-size: 3.6em;
 }

 footer {
   font-size: 0.7em;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
   padding: 10px;
 }

 /* nav styles */
nav {
  /* align-self: flex-end; */
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  padding: 15px 40px 15px 20px;
  /* small screens */
  flex-wrap: wrap;
}

.box {
  padding: 10px;
  min-width: 80px;
  height: 30px;
  display: flex;               
  justify-content: center;    
  align-items: center; 
  text-align: center;
  padding: 0 10px;
  transition: transform 0.2s ease-in-out;
}

.box:hover{
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
}

.nav-home {
  color: white;
  background-color: rgb(85, 187, 190);
  /* padding: 10px; */
}

.nav-sign-in {
  color: white;
  background-color: rgb(198, 58, 156);
  /* padding: 10px; */
}

.nav-sign-out {
  color: white;
  background-color: rgb(198, 58, 156);
  /* padding: 10px; */
}

.nav-books {
  color: white;
  background-color: rgb(85, 187, 190);
  /* padding: 10px; */
}

.nav-users {
  color: white;
  background-color: rgb(85, 187, 190);
  /* padding: 10px; */
}

 /* hero style for homepage */
.hero {
  background-color: rgb(69, 148, 150);
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: center;     
  flex-direction: column;
  padding: 0 50px;
  box-sizing: border-box;
  gap: 20px;
}

.hero-text {
  flex: 1;
}

.hero-text h1 {
  font-family: "Playfair Display", serif;
  color: #1f2584;
  font-size: 3em;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 1.2em;
  line-height: 1.4;
}

.hero-img {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.hero-img img {
  width: 50%;
  height: auto;
  max-width: 400px;
}
