@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
* {
  /* outline: 1px solid red; */
  box-sizing: border-box;
} 

html, body {
  overflow-x: hidden;
}

/* base styles */
  body {
  font-family: "Outfit", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
 }

 a {
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

 h1 {
  font-family: "Playfair Display", serif;
   color: black;
   font-size: 3.6em;
 }

 footer {
   font-size: 0.7em;
   position:inherit;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
   padding: 10px;
 }

 /* page wrapper */
 .page-section {
  width: 100%;
  padding-top: 70px;
  display: flex;
  justify-content: center;
}

.page-content {
  background-color: #f0f0f0;
  width: 100%;
  max-width: 900px;
  padding: 20px;
  margin: 20px;
}

 /* nav styles */
nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  padding: 15px 40px 15px 20px;
  z-index: 10;
}

.box {
  padding: 10px;
  min-width: 80px;
  height: 30px;
  display: flex;               
  justify-content: center;    
  align-items: center; 
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.box:hover{
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
}

.nav-home {
  color: white;
  background-color: #0f30dd;
}

.nav-sign-in {
  color: white;
  background-color: #fd912e;
}

.nav-sign-out {
  color: white;
  background-color: #fd912e;
}

.nav-books {
  color: white;
  background-color: #f95285;
}

.nav-users {
  color: white;
  background-color: #f95285;
}

 /* hero style for homepage */
.hero {
  background-color: #1079d4;
  height: 475px;
  width: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: stretch;     
  box-sizing: border-box;
}

.hero-text {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 60px;
  min-width: 250px;
  margin-top: 15px;
}

.hero-img {
  flex: 1;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  justify-content: end;
}

.hero-text h1 {
  font-size: clamp(1.8em, 4vw, 3em);
  margin-bottom: 10px;
  color: #ffffff;
}

.hero-text p {
  font-size: clamp(1em, 2.5vw, 1.4em);
  line-height: 1.4;
  padding-right: 60px;
}

.hero-img img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.sign-up-btn {
  font-size: 1.4em;
  color: #ffffff;
  padding: 20px;
  background-color: black;
  min-width: 80px;
  height: 30px;
  display: flex;               
  justify-content: flex-start;    
  align-items: center; 
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.sign-up:hover{
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
}

.sign-in {
  color: #ffffff;
  font-size: 1.2em;
  line-height: 30px;
}

/* mission statement landing page */
.mission-section {
  width: 100%;
  max-height: 400px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 60px;
  box-sizing: border-box;
  overflow: hidden;
}

.mission-content {
  font-size: 1.6em;
  flex: 1;
  padding-right: 40px;
}

.mission-img {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.bookstack {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  display: block;
}

.sign-up-link {
  color: black;
  text-decoration: none;
}

.faq {
  background-color: #1079d4;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.faq-questions {
  max-width: 50%;
  max-height: 100%;
}

.faq-questions p {
  font-size: 1.1em;
}

/* styling for show page */
.show-selected-book {
  background-color: #f0f0f0; 
  padding: 20px;            
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;       
}

.selected-book {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: left;
}

.title-author {
  display: flex;
}

.rating-review {
  display: flex;
}

.btns {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 20px 0;
}

.edit-btn, .delete-btn, .back-btn, .details-btn, .update-btn {
  font-family: "Outfit", sans-serif;
  transition: transform 0.2s ease-in-out;
  color: white;
  font-weight: bold;
  background-color: #f95285;
  font-size: 1em;
  padding: 10px;
  border: none;
}

.edit-btn:hover, .delete-btn:hover, .back-btn:hover, .details-btn:hover, .update-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* fade out for flash message */
.alert {
  transition: opacity 0.5s ease-out;
}

.fade-out{
  opacity: 0;
}

/* modal styling for show page */
.modal { 
  display: none; 
  position: fixed; 
  z-index: 100; 
  left: 0; 
  top: 0; 
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content { 
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  width: 400px;
  border-radius: 6px;
}

.close-btn { 
  color: #aaa; 
  float: right; 
  font-size: 28px; 
  font-weight: bold; 
}

.close-btn:hover, .close-btn:focus { 
  color: black; 
  text-decoration: none; 
  cursor: pointer; 
}

.cancel-btn {
  font-family: "Outfit", sans-serif;
  transition: transform 0.2s ease-in-out;
  color: white;
  font-weight: 400;
  background-color: #0f30dd;
  font-size: 1em;
  padding: 10px;
  border: none;
}

.cancel-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
}

/* styling for new & edit rating */
.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.rating input {
  display: none; 
}

.rating label {
  cursor: pointer;
  font-size: 2rem;
  color: #ccc;
}

/* styling for bookshelf/index page */
.user-bookshelf {
  background-color: #f0f0f0; 
  padding: 20px;            
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.book-updates {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  width: auto;
  max-width: 100%;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.add-book {
  margin: 0;
}

 .add-new-book {
  font-size: 1.1rem;
  color: white;
  background-color: #f95285;
  padding: 10px;
  height: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.add-new-book:hover {
  /* background: linear-gradient(-45deg, #eee 40%, #fafafa 50%, #eee 60%); */
  background: linear-gradient(45deg,rgba(249, 82, 133, 1) 0%, rgba(253, 145, 46, 1) 50%, rgba(255, 255, 255, 1) 100%);
  animation: shimmer 1s infinite linear;
  background-size: 150%;
}

@keyframes shimmer {
   to {
      background-position-x: 0%
   }
}

.status-filter {
  flex: 1 1 200px;
  padding: 0;
}

.status-dropdown {
  display: flex;
  align-items: center;
  gap: 8px;
}

.filter-label {
  font-size: 1.1rem;
}

#statusFilter {
  font-size: 1.1rem;
  width:100%;
  width: 250px;
  height: 40px;
}

.book-details {
  display: flex;
  justify-content: center;
  align-items: center;
}

.books-on-shelf {
  list-style: none;
  padding: 0;
  font-size: 1.2em;
}

.book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Highlight stars on hover */
.rating label:hover,
.rating label:hover ~ label {
  color: gold;
}

/* Highlight selected stars */
.rating input:checked ~ label {
  color: gold;
}

/* styling for edit & new page */
.edit-book-form {
  background-color: #f0f0f0; 
  padding: 20px;            
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;       
}

.editing-book {
  max-width: 900px;
  text-align:left;
}

.edit-boxes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.input-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  gap: 10px;
}

.form-box {
  display: flex;
  flex-direction: row;
  font-size: 1em;
  width: 300px;
  height: 40px;
  line-height: 40px;
}

#review {
  font-family: "Outfit", sans-serif;
  display: flex;
  align-items: center;
}

.update-btn {
  display: flex;
  justify-content: center;
}

input,
textarea,
select,
fieldset {
  border: none;
}

.update-btn-div {
  display: flex;
  justify-content: center;
}

.edit-back {
  margin: 10px;
  background-color: #0f30dd;
}

input::placeholder,
textarea::placeholder {
  font-family: "Outfit", sans-serif; 
  font-size: 1em;                    
  color: #999999;                     
  font-weight: 400;                  
}

/* community users & show page */

.book-community {
  display: flex;

}

.user-action {
  text-align: center;
  max-width: 500px;
}

.app-users {
  list-style: none;
  padding: 0;
  font-size: 1.2em;
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.users-books {
  list-style: none;
  padding: 0;
  font-size: 1.2em;
}

.user-book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.back-community-btn {
  display: flex;
}