<!-- users/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/_head.ejs") %>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Book Community</h1>

    <p>Explore other members and get inspired by their bookshelf!</p>

    <ul>
      <% users.forEach(user => { %>
      <li>
        <a href="/users/<%= user._id %>"><%= user.username %></a>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
